* {
	padding: 0;
	margin: 0;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.row {
	margin: 8px 0;
}

.btn {
	margin: 5px;
}

p {
	text-indent: 3px;
}

.img-container {
	position: relative;
}

.img-container:after {
	content: " ";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#content {
	background-color: rgb(155, 125, 155);
	margin-top: 5px;
	padding: 15px;
	border: 2px solid black;
}

/* A4 */
.slide {
	width: 21cm;
	height: 29.7cm;
	padding: .85cm;
	box-sizing: border-box;
	border: 1px solid black;
	overflow-y: hidden;
	position: relative;
}

.slide .page {
	position: absolute;
	left: .3cm;
	right: .3cm;
	bottom: .3cm;
	border-top: .12cm dashed black
}

.slide .data {
	box-sizing: border-box;
	border: 3px solid black;
	margin: 1cm 0;
	padding: .5cm;
	display: flex;
}

img.photo {
	width: 3cm;
	height: 4cm;
	border: 3px solid black;
}

.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}

.id, .ibu, .kelahiran, .alamat {
	display: none;
}
